.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-cards-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  height: 55vh;
  width: 29vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.projects-title {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(208 208 210);
  font-size: 3vw;
  height: 5vh;
  width: 5vw;
  margin-bottom: 20px;
}
.project-image {
  width: 90%;
}
.project-text {
  color: rgb(158 144 152);
  margin-top: 5px;
  font-size: 1.5vw;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.project-links {
  width: 115%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-links > a {
  color: rgb(158 144 152);
}
.project-links > a:hover {
  color: rgb(191, 191, 195);
  text-decoration-line: underline;
}

@media only screen and (max-width: 1099px) {
  .project-card {
    height: 45vh;
    width: 29vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media only screen and (max-width: 768px) {
  .project-text {
    font-size: 2vw;
  }
  .project-cards-container {
    width: 80vw;
  }
  .project-card {
    width: 35vw;
  }
  .project-title {
    font-size: 4vw;
  }
}
@media only screen and (max-width: 570px) {
  .project-cards-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
  }
  .project-card {
    width: 80vw;
    height: 67vh;
  }
  .project-text {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 425px) {
  .project-card {
    height: 60vh;
  }
  .project-text {
    font-size: 4vw;
  }
  .projects-title {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 320px) {
  .project-card {
    height: 45vh;
  }
  .project-text {
    font-size: 4.5vw;
  }
}
