.project-card {
  height: 45vh;
  width: 29vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-image {
  width: 90%;
}
.project-text {
  color: rgb(158 144 152);
  text-align: center;
  margin-top: 5px;
}

.project-text > a {
  color: rgb(158 144 152);
}
.project-text > a:hover {
  color: rgb(191, 191, 195);
}

@media only screen and (max-width: 1099px) {
  .project-card {
    height: 45vh;
    width: 29vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
