@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Merienda:wght@500&family=Raleway:wght@300&display=swap");

.Skills {
  font-family: "Raleway", sans-serif;
  font-size: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(208 208 210);
  height: 5vh;
  width: 5vw;
  margin-bottom: 15px;
}
.ul-title {
  color: rgb(76 30 57);
  font-size: 2vw;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.skills-section {
  width: 70vw;
  height: auto;
  margin: 5vh 0 20vh 0;
  background-color: rgb(97 118 129);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui.grid > .row {
  justify-content: space-evenly;
}
.Front-End,
.Back-End {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
  padding: 20px 20px 20px 20px;
}
.Front-End {
  background-color: rgb(158 144 152);
}

.Back-End {
  background-color: rgb(76 30 57);
}
.Front-End-Row {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Back-End-Row {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Front-End-UL,
.Back-End-UL {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 90%;
  list-style-type: none;
  font-size: 1.5vw;
  font-family: "Raleway", sans-serif;
  margin-bottom: 5px;
  margin-left: 0;
  padding-left: 0;
}
.Front-End-UL {
  color: rgb(76 30 57);
}
.Back-End-UL {
  color: rgb(158 144 152);
}
.front-end-grid,
.back-end-grid {
  width: 100%;
  height: 100%;
}
.skills-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70vw;
  height: 50vh;
}
@media only screen and (max-width: 1099px) {
  .skills-div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .skills {
    font-size: 4vw;
  }
  .Front-End,
  .Back-End {
    width: 70vw;
    height: 55vh;
  }
  .ul-title {
    font-size: 2.5vw;
  }
  .Back-End-UL,
  .Front-End-UL {
    font-size: 2vw;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .Front-End-Row,
  .Back-End-Row {
    justify-content: center;
  }
  .back-end-grid,
  .front-end-grid {
    width: 100%;
  }
  .skills-section {
    height: 80vh;
  }
}

@media only screen and (max-width: 700px) {
  .Back-End-UL,
  .Front-End-UL {
    font-size: 3vw;
  }
  .ul-title {
    font-size: 3.25vw;
  }
  .Skills {
    font-size: 4.5vw;
  }
}
@media only screen and (max-width: 425px) {
  .skills-section,
  .skills-div {
    height: 120vh;
  }
  .Skills {
    font-size: 5.5vw;
  }
  .Front-End-UL,
  .Back-End-UL {
    height: 40vh;
    width: 90vw;
    font-size: 4.5vw;
  }
  .Front-End,
  .Back-End {
    height: 80vh;
    width: 80vw;
  }
  .ul-title {
    font-size: 5vw;
  }
}
