@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Merienda:wght@500&family=Raleway:wght@300&display=swap");
.NavBar {
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  color: rgb(208 208 210);
}
.NavBar-name {
  font-family: "Raleway", sans-serif;
  font-size: 3vw;
  color: rgb(208 208 210);
}
.NavBar > a {
  color: rgb(208 208 210);
}
.NavBar > a:hover {
  color: rgb(156 144 152);
  text-decoration-line: underline;
}
.NavBar-name > a {
  color: rgb(208 208 210);
}
.NavBar-name > a:hover {
  color: rgb(101 117 130);
}

@media only screen and (max-width: 560px) {
  .NavBar {
    font-size: 3.25vw;
  }
  .NavBar-name {
    font-size: 5vw;
  }
}
