@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Merienda:wght@500&family=Raleway:wght@300&display=swap");
.NavBar {
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
}
.NavBar > a {
  color: rgb(208 208 210);
}
.NavBar > a:hover {
  color: rgb(156 144 152);
}
